.f-basis{
    flex-basis: 60%;
}
/* start main */
main{
    min-height: calc(100vh - 140px);
}
main .main-title{
    margin: 85px auto 75px;
}
@media (max-width: 420px){
    main .main-title i {
        font-size: 28px;
        left: 50px;
        top: -30px;
    }
}
main .container{
    text-align: center;
}
/* start info */
main .new-info{
    display: flex;
    width: 100%;
    margin: 50px auto 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #ffefd7e7;
    padding: 20px 10px;
}
@media (max-width:420px) {
    main .new-info{
     flex-wrap: wrap;
     text-align: center;
     flex-direction: column;
    }
}
main .new-info .icon-info img{
width: 80px;
}
main .new-info .text-info{
    line-height: 1.7;
}
main .new-info .text-info h4{
    margin-bottom: 10px;
}

/* end info */

/* start list */
main .list{
    width: 60%;
    margin: auto;
    position: relative;
}

@media (max-width:992px) {
    main .list{
        width: 90%;
    }
}
@media (max-width:767px) {
    main .list{
        width: 100%;
    }
}
main .list .main-item{
    position: relative;
    font-size: 19px;
    margin-bottom: 25px;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    transform: translateX(-100%);
    opacity: 0;
    overflow: hidden;
    transition-delay: 0.2s;
    transition: var(--anim-transition);
}
main .list .main-item.sub{
    background-color: var(--dark-color);
    padding: 15px 10px;
}
main .list .main-item.sub a{
    color: #fff;
}
main .list .main-item .over-item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 55;
}
main .list .main-item .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
main .list .main-item p{
 margin: 0;   
}
main .list .black{
    background-color: var(--dark-color);
}
main .list .green{
    background-color: var(--sec-color);
}
main .list .main-item .fa-caret-down{
    font-size: 20px;
    transition: var(--main-transition);
}
main .list .course-list{
   position: relative;
    height: 0;
    z-index: -5;
    border-radius: 7px;
    opacity: 0;
    transition: var(--main-transition);
}
main .list .course-list.active{
    opacity: 1;
    z-index: 56;
}
main .list .course-list .course-item{
    text-align: left;
    /* border-bottom: 1px solid #ffffff73; */
    transition: var(--main-transition);
}
main .list .course-list.black .course-item:not(:last-of-type){
    border-bottom: 1px solid #ffffff73;
}
main .list .course-list.green .course-item:not(:last-of-type){
    border-bottom: 1px solid #3a3a3a73;
}
main .list .course-list .course-item a{
    color: #fff;
    width: 100%;
    display: block;
    padding: 15px;
    font-weight: 500;
}
main .list .main-item.black  .course-item a{
    color: var(--dark-color);
}
/* end list */
main button{
    all: unset;
    outline: none;
    padding: 10px 12px;
    border-radius: 5px;
    margin: 40px auto 0;

}
main button:hover a i{
animation: move-right 0.5s linear infinite alternate;
}
@keyframes move-right {
    from{
transform: translateX(0);
    }
    to{
        transform: translateX(7px);
        color: var(--sec-color);
    }
}
@keyframes move-left {
    from{
transform: translateX(0);
    }
    to{
        transform: translateX(-7px);
        color: var(--sec-color);
    }
}
main button a{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
main button a img{
    width: 45px;
}
main button a.active img{
    background-color: #acf5cc;
    border-radius: 50%;
    padding: 5px;
}
/* end main */

footer{
    margin-top: 100px;
}



/* start dark mode */
.dark main .new-info{
    background-color: #ffefd7;
    color: #161616;
}
.dark main .list .black{
    background-color: #080f20;
}
.dark main .list .green{
background-color: #7afbff;
color: black;
}
.dark main .list .main-item.sub{
    background-color: #7afbff;
}
.dark main .list .main-item.sub a{
    color: var(--dark-color);
}
.dark main button a img{
    background-color: aliceblue;
    border-radius: 50%;
    padding: 5px;
}
.dark main button a.active img{
    background-color: #7afbff;
}
/* end dark mode */
